﻿<div ng-controller="app.views.home as vm">


    <h1>@L("WellcomeMessage")</h1>

    <div class="row">
        <div class="col-md-12">
            <div>

                @*<input type="file" id="file1" name="file" multiple
                    ng-files="vm.getTheFiles($files)" />*@
                <input type="file" file-model="myFile" />
                <input type="button" ng-click="vm.uploadFiles()" value="Upload" />
                <input type="button" ng-click="vm.progresStart()" value="progresStart" />
                <div class="col-lg-12">
                    active: {{vm.active}}<br>
                    progress: {{vm.progress}}<br>
                    message: {{vm.progressMessage}}<br>

                    <div class="container_progress">
                        <div class="progress progress-striped" ng-class='{"active": vm.active, "":!vm.active}'>
                            <div class="bar" ng-style="vm.bar_upload_style">{{vm.bar_upload_text}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
